#navBar{
  position: fixed;
  top: 2%;
  width: 96%;
  height: 10%;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius:15px;
  z-index: 1000;
}

.navContainers{
  width: 10%;
  height: 60%;
  text-align: center;
  border-radius: 15px;
}

#title{
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

#season{
  color: white;
  font-size: 200%;
}

#overwatch2{
  position: relative;
  width: 60%;
}

/* Heroes style */

#heroesheader{
  text-align: center;
}

#heroeshead{
  width: 100%;
}

#heroTitle{
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 250%;
  color: white;
}

#heroesBody{
  background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt912826400bb9b504/6308459c47fdc2115dced822/cloud-2600.jpg?format=webply&quality=90);
  margin-top: -7px;
}

.heroList{
  text-align: center;
}

.roleTitle{
  margin-left: 10%;
}


/* Hero Card Style */

.heroCard{
  background-color: rgb(255, 253, 251);
  width: 15%;
  border-style: outset;
  margin-left: 0.75%;
  margin-right: 1.25%;
  margin-bottom: 2%;
  display: inline-block;
  transition: width 1s;
}

.heroCard:hover {
  width: 18%;
}

.heroIcons{
  width: 98%;
  background-color: azure;
  margin-top: 1%;
  margin-bottom: -10px;
}

.heroCardDetails{
  position: relative;
  top: -1%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(193, 193, 193);
}

.heroNameBox{
  display: inline-flex;
  margin-top: 2%;
  margin-bottom: 5%;
}

.heroName{
  position: relative;
  top: 0%;
}

.roleIcons{
  width: 20px;
  height: 20px;
  padding-top: 1px;
  margin-right: 8%;
  margin-left: -8%;
  
}

/* Hero about style */

#heroData{
  position: absolute;
  width: 60%;
  height: 90%;
  top: 8%;
  margin-left: 5%;
}

.abilityInfo{
  margin-left: 3%;
  font-size: 120%;
  color: azure;
  
}

.abilityIconsDiv{
  text-align: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border-style: outset;
  border-color: white;
  background-color: rgba(146, 146, 146, 0.412);
}

.abilityIcons{
  margin-top: 13%;
  width: 75%;
  height: 75%;
}


.ultimateInfo{
  margin-left: 3%;
  font-size: 120%;
  color: azure;
  
}

.ultimateIconsDiv{
  text-align: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  border-style: outset;
  border-color: white;
  background-color: rgba(146, 146, 146, 0.412);
  outline-style: outset;
  outline-color: rgb(255, 187, 60);
  outline-width: 5px;
}

.ultimateIcons{
  margin-top: 13%;
  width: 75%;
  height: 75%;
}

/* Maps page style */

#mapsBody{
  background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt912826400bb9b504/6308459c47fdc2115dced822/cloud-2600.jpg?format=webply&quality=90);
  margin-top: -20px;
}

.mapDivs{
  width: 45%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
  border-style: outset;
  display: inline-block;
  background-color: rgb(255, 253, 251);
}

.mapContainers{
  width: 90%;
  background-color: rgba(0, 0, 0, 0.242);
  padding-top: 1%;
  margin-left: 5%;
}

/* SignUp styles */

.signupPage{
  width: 100%;
  height: 1000px;
  background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt912826400bb9b504/6308459c47fdc2115dced822/cloud-2600.jpg?format=webply&quality=90);
}

.signupForm{
  background-color: azure;
  width: 30%;
  position: relative;
  top: 10%;
  left: 35%;
}




